body {
    font-family: Arial, sans-serif;
    text-align: center;
}

input[type="file"] {
    margin: 20px;
}

#tableContainer, #resultContainer {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
}